<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.AppUpgradeMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.AppUpgrade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_type" jdbcType="INTEGER" property="appType" />
    <result column="app_URL" jdbcType="VARCHAR" property="appUrl" />
    <result column="update_content" jdbcType="VARCHAR" property="updateContent" />
    <result column="version_number" jdbcType="VARCHAR" property="versionNumber" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_type, app_URL, update_content,version_number, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_upgrade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_upgrade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.AppUpgrade">
    insert into app_upgrade (id, app_type, app_URL, update_content,
      version_number, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{appType,jdbcType=INTEGER}, #{appUrl,jdbcType=VARCHAR}, #{updateContent,jdbcType=VARCHAR}, 
      #{versionNumber,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.AppUpgrade">
    insert into app_upgrade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="appUrl != null">
        app_URL,
      </if>
      <if test="updateContent != null">
        update_content,
      </if>
      <if test="versionNumber != null">
        version_number,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=INTEGER},
      </if>
      <if test="appUrl != null">
        #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateContent != null">
        #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.AppUpgrade">
    update app_upgrade
    <set>
      <if test="appType != null">
        app_type = #{appType,jdbcType=INTEGER},
      </if>
      <if test="appUrl != null">
        app_URL = #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateContent != null">
        update_content = #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        version_number = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.AppUpgrade">
    update app_upgrade
    set app_type = #{appType,jdbcType=INTEGER},
      app_URL = #{appUrl,jdbcType=VARCHAR},
      update_content = #{updateContent,jdbcType=VARCHAR},
      version_number = #{versionNumber,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectApp" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_upgrade
    where app_type = #{appType,jdbcType=INTEGER}
  </select>
</mapper>