<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.Commodity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, picture, price, gmt_create, gmt_modified, is_deleted
  </sql>
  <resultMap id="CommodityResultMap" type="com.shanduo.newretail.entity.service.CommodityInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
  </resultMap>
  <sql id="Commodity_Column_List">
    co.id, name, picture, price, stock,category_id,category_name,visible
  </sql> 
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.Commodity">
    insert into commodity (id, name, picture, 
      price, gmt_create, gmt_modified, 
      is_deleted)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.Commodity">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.Commodity">
    update commodity
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.Commodity">
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectOneCommodity" resultMap="CommodityResultMap">
	select
	<include refid="Commodity_Column_List" />
	from relations as re join commodity as co on co.id=re.commodity_id
	join category as ca on ca.id=re.category_id
	where co.id=#{1} and re.user_id=#{0} and  re.is_deleted = 0
  </select> 
  
  <select id="selectCommodity" resultMap="CommodityResultMap">
	select
	<include refid="Commodity_Column_List" />
	from relations as re join commodity as co on co.id=re.commodity_id
	join category as ca on ca.id=re.category_id
	where re.category_id=#{0} and re.user_id=#{1} and re.visible='1' and re.stock &gt; 0
	and  re.is_deleted = 0 
	limit #{2},#{3}
  </select> 
  <select id="selectCommoditys" resultMap="CommodityResultMap">
	select
	<include refid="Commodity_Column_List" />
	from relations as re join commodity as co on co.id=re.commodity_id
	join category as ca on ca.id=re.category_id
	where re.category_id=#{0} and re.user_id=#{1}  and re.stock &gt; 0 and  re.is_deleted = 0
	limit #{2},#{3}
  </select> 
  <select id="selectWarehouseCommodity" resultMap="CommodityResultMap">
	select
	<include refid="Commodity_Column_List" />
	from relations as re join commodity as co on co.id=re.commodity_id
	join category as ca on ca.id=re.category_id
	where re.category_id=#{0} and re.user_id=#{1} and re.visible='1' and re.stock &gt; 0
	and  re.is_deleted = 0
  </select> 
  <select id="selectWarehouseCommoditys" resultType="java.lang.String">
	select
	name
	from relations as re join commodity as co on co.id=re.commodity_id
	where re.category_id=#{0} and re.user_id=#{1}  and re.stock &gt; 0 and  re.is_deleted = 0
  </select> 
  <update id="deleteCommodity" parameterType="java.lang.String">
    update commodity
    set 
      is_deleted = 1
    where id = #{commodityId,jdbcType=VARCHAR}
  </update>
</mapper>