<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.ToOrderDetailsMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.ToOrderDetails">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_number" jdbcType="INTEGER" property="commodityNumber" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <resultMap id="CommodityInfosMap" type="com.shanduo.newretail.entity.service.CommodityInfos">
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, commodity_id, commodity_name, commodity_number, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_order_details
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from to_order_details
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.ToOrderDetails">
    insert into to_order_details (id, order_id, commodity_id, 
      commodity_name, commodity_number, price
      )
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{commodityId,jdbcType=VARCHAR}, 
      #{commodityName,jdbcType=VARCHAR}, #{commodityNumber,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.ToOrderDetails">
    insert into to_order_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityNumber != null">
        commodity_number,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityNumber != null">
        #{commodityNumber,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.ToOrderDetails">
    update to_order_details
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityNumber != null">
        commodity_number = #{commodityNumber,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.ToOrderDetails">
    update to_order_details
    set order_id = #{orderId,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_number = #{commodityNumber,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="listOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    id, order_id, commodity_id, commodity_name, commodity_number, price
    from to_order_details
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <select id="countSellerCommodity" resultType="java.lang.Integer">
  	select count(t.id) 
  	from (
  		select id 
  		from to_order_details
		where order_id in (
			select id from to_order
			where is_deleted = '0'
			and state = '4'
			and seller_id = #{sellerId,jdbcType=VARCHAR}
			<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
			)
		<if test="categoryId != null and categoryId != ''">
		and commodity_id in (
			select commodity_id from relations 
			where user_id = #{sellerId,jdbcType=VARCHAR}
			and category_id = #{categoryId,jdbcType=VARCHAR}
			)
		</if>
		group by commodity_id
		) t;
  </select>
  <select id="listSellerCommodity" resultMap="CommodityInfosMap">
  	select
 	commodity_id, commodity_name, cy.picture, sum(commodity_number) as number
	from to_order_details os
	join commodity cy on os.commodity_id = cy.id
	where order_id in (
		select id from to_order
		where is_deleted = '0'
		and state = '4'
		and seller_id = #{sellerId,jdbcType=VARCHAR}
			<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
		)
		<if test="categoryId != null and categoryId != ''">
		and commodity_id in (
			select commodity_id from relations 
			where user_id = #{sellerId,jdbcType=VARCHAR}
			and category_id = #{categoryId,jdbcType=VARCHAR}
			)
		</if>
	group by os.commodity_id
	limit #{pageNum},#{pageSize}
  </select>
  <select id="sumSellerMoney" resultType="java.lang.Double">
  	select
 	ifnull(sum(commodity_number*price),0)
	from to_order_details
	where order_id in (
		select id from to_order
		where is_deleted = '0'
		and state = '4'
		and seller_id = #{sellerId,jdbcType=VARCHAR}
			<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
		)
		<if test="categoryId != null and categoryId != ''">
		and commodity_id in (
			select commodity_id from relations
			where user_id = #{sellerId,jdbcType=VARCHAR}
			and category_id = #{categoryId,jdbcType=VARCHAR}
			)
		</if>
  </select>
</mapper>