<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.ToOrderMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.ToOrder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <resultMap id="OrderInfo" type="com.shanduo.newretail.entity.service.OrderInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, seller_id, total_price, user_name, user_phone, user_address, state, remarks, 
    payment_time, gmt_create, gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from to_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.ToOrder">
    insert into to_order (id, openid, seller_id, 
      total_price, user_name, user_phone, 
      user_address, state, remarks, 
      payment_time, gmt_create, gmt_modified, 
      is_deleted)
    values (#{id,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userAddress,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{paymentTime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.ToOrder">
    insert into to_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.ToOrder">
    update to_order
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.ToOrder">
    update to_order
    set openid = #{openid,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getOrder" resultMap="BaseResultMap">
    select 
    id, openid, seller_id, total_price, user_name
    from to_order
    where is_deleted = '0'
    and id = #{0}
    and state = #{1}
  </select>
  <update id="updateOrder">
    update to_order
    set state = #{2}
    where is_deleted = '0'
    and id = #{0}
    and seller_id = #{1}
  </update>
  <select id="countSellerOrder" resultType="java.lang.Integer">
    select 
    count(id)
    from to_order
    where is_deleted = '0'
    and seller_id = #{sellerId,jdbcType=VARCHAR}
    and state = #{state,jdbcType=CHAR}
  </select>
  <select id="listSellerOrder" resultMap="OrderInfo">
    select 
    id, total_price, user_name, user_phone, user_address, remarks, gmt_create
    from to_order
    where is_deleted = '0'
    and seller_id = #{sellerId,jdbcType=VARCHAR}
    and state = #{state,jdbcType=CHAR}
    <if test="startDate != null and startDate != ''">
    and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
    and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    order by gmt_create desc
    limit #{pageNum},#{pageSize}
  </select>
  <select id="listPending" resultType="java.lang.String">
    select 
    seller_id
    from to_order
    where is_deleted = '0'
	and state = '2'
	group by seller_id
  </select>
</mapper>