<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.ToUserMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.ToUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="jurisdiction" jdbcType="CHAR" property="jurisdiction" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <resultMap id="UserInfo" type="com.shanduo.newretail.entity.service.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, name, mobile_phone, password,parent_id, jurisdiction, gmt_create, gmt_modified,
    is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from to_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.ToUser">
    insert into to_user (id, open_id, name, 
      mobile_phone, password,parent_id, jurisdiction,
      gmt_create, gmt_modified, is_deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{jurisdiction,jdbcType=CHAR},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.ToUser">
    insert into to_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="jurisdiction != null">
        jurisdiction,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null">
        #{jurisdiction,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.ToUser">
    update to_user
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null">
        jurisdiction = #{jurisdiction,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.ToUser">
    update to_user
    set open_id = #{openId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      jurisdiction = #{jurisdiction,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    id, name, mobile_phone, password, jurisdiction
    from to_user
    where mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
  </select>
  <select id="getLogin" resultMap="BaseResultMap">
    select 
    id, name,open_id, mobile_phone, password, jurisdiction
    from to_user
    where is_deleted = '0'
    and mobile_phone = #{0}
    and password = #{1}
  </select>
  <update id="updatePassswordByPhone">
    update to_user
    set password = #{1}
    where mobile_phone = #{0}
  </update>
  <select id="selectAdministratorsId" resultType="java.lang.String">
    select 
    id
    from to_user
    where jurisdiction = '1'
  </select>
  <select id="countParent" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(id)
    from to_user
    where parent_id = #{parentId,jdbcType=VARCHAR}
  </select>
  <select id="listParent" resultMap="UserInfo">
    select 
    id, name, mobile_phone
    from to_user
    where parent_id = #{0}
    limit #{1},#{2}
  </select>
  
  <update id="updateopenId" >
    update to_user
    set open_id = #{0}
    where mobile_phone = #{1}
  </update>
   
  
</mapper>