<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanduo.newretail.mapper.UserSellerMapper">
  <resultMap id="BaseResultMap" type="com.shanduo.newretail.entity.UserSeller">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="seller_picture" jdbcType="VARCHAR" property="sellerPicture" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="seller_type" jdbcType="INTEGER" property="sellerType" />
    <result column="distribution" jdbcType="INTEGER" property="distribution" />
    <result column="start_date" jdbcType="TIME" property="startDate" />
    <result column="end_date" jdbcType="TIME" property="endDate" />
    <result column="business_sign" jdbcType="CHAR" property="businessSign" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="lon" jdbcType="DECIMAL" property="lon" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, seller_name, seller_picture, notice, phone, seller_type,distribution, start_date, end_date, 
    business_sign, money, parent_id, lat, lon,address, gmt_create, gmt_modified
  </sql>
  
  <resultMap id="BoleResultMap" type="com.shanduo.newretail.entity.service.SellerDetails">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="seller_picture" jdbcType="VARCHAR" property="sellerPicture" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="seller_type" jdbcType="INTEGER" property="sellerType" />
    <result column="distribution" jdbcType="INTEGER" property="distribution" />
    <result column="start_date" jdbcType="TIME" property="startDate" />
    <result column="end_date" jdbcType="TIME" property="endDate" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="lon" jdbcType="DECIMAL" property="lon" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="business_sign" jdbcType="CHAR" property="businessSign" />
    <result column="money" jdbcType="DECIMAL" property="money" />
 	<result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Bole_Column_List">
   se.id id, seller_name, seller_picture, notice, phone, seller_type,distribution,start_date, end_date, 
 	 business_sign, money,lat, lon,address, name
  </sql> 
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_seller
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectSellerDetails" parameterType="java.lang.String" resultMap="BoleResultMap">
    select 
    <include refid="Bole_Column_List" />
    from user_seller as se join to_user as tu on se.id=tu.id
    where se.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_seller
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shanduo.newretail.entity.UserSeller">
    insert into user_seller (id, seller_name, seller_picture, 
      notice, phone, seller_type,distribution,
      start_date, end_date, business_sign, 
      money, parent_id, lat, 
      lon,address, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{sellerPicture,jdbcType=VARCHAR}, 
      #{notice,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sellerType,jdbcType=INTEGER}, #{distribution,jdbcType=INTEGER},
      #{startDate,jdbcType=TIME}, #{endDate,jdbcType=TIME}, #{businessSign,jdbcType=CHAR}, 
      #{money,jdbcType=DECIMAL}, #{parentId,jdbcType=VARCHAR}, #{lat,jdbcType=DECIMAL}, 
      #{lon,jdbcType=DECIMAL},#{address,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shanduo.newretail.entity.UserSeller">
    insert into user_seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sellerName != null">
        seller_name,
      </if>
      <if test="sellerPicture != null">
        seller_picture,
      </if>
      <if test="notice != null">
        notice,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="sellerType != null">
        seller_type,
      </if>
      <if test="distribution != null">
        distribution,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="businessSign != null">
        business_sign,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="address != null">
        parent_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null">
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerPicture != null">
        #{sellerPicture,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sellerType != null">
        #{sellerType,jdbcType=INTEGER},
      </if>
      <if test="distribution != null">
        #{distribution,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIME},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIME},
      </if>
      <if test="businessSign != null">
        #{businessSign,jdbcType=CHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanduo.newretail.entity.UserSeller">
    update user_seller
    <set>
      <if test="sellerName != null">
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerPicture != null">
        seller_picture = #{sellerPicture,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sellerType != null">
        seller_type = #{sellerType,jdbcType=INTEGER},
      </if>
      <if test="distribution != null">
        distribution = #{distribution,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIME},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIME},
      </if>
      <if test="businessSign != null">
        business_sign = #{businessSign,jdbcType=CHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanduo.newretail.entity.UserSeller">
    update user_seller
    set seller_name = #{sellerName,jdbcType=VARCHAR},
      seller_picture = #{sellerPicture,jdbcType=VARCHAR},
      notice = #{notice,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      seller_type = #{sellerType,jdbcType=INTEGER},
      distribution = #{distribution,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIME},
      end_date = #{endDate,jdbcType=TIME},
      business_sign = #{businessSign,jdbcType=CHAR},
      money = #{money,jdbcType=DECIMAL},
      parent_id = #{parentId,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=DECIMAL},
      lon = #{lon,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertSeller" >
    insert into user_seller (id, seller_name,  phone,parent_id)
    values (#{0}, #{1},  #{2} ,#{3} )
  </insert>
  
  <select id="selectNearbySellerType" resultType="map">
    select 
    seller_type,category_name
    from user_seller join category on user_seller.seller_type=category.id
    where (((#{0}-lon)*100)*((#{0}-lon)*100)+((#{1}-lat)*100)*((#{1}-lat)*100)) &lt; 0.49         
   group by seller_type

  </select>
  <select id="selectNearbySeller" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_seller
    where (((#{lon,jdbcType=DECIMAL}-lon)*100)*((#{lon,jdbcType=DECIMAL}-lon)*100)+((#{lat,jdbcType=DECIMAL}-lat)*100)*((#{lat,jdbcType=DECIMAL}-lat)*100)) &lt; 0.49
     and seller_type = #{sellerType,jdbcType=CHAR}           
    order by (((#{lon,jdbcType=DECIMAL}-lon)*100)*((#{lon,jdbcType=DECIMAL}-lon)*100)+((#{lat,jdbcType=DECIMAL}-lat)*100)*((#{lat,jdbcType=DECIMAL}-lat)*100)) 
  </select>
  <update id="updateBusinessSign" parameterType="java.lang.String" >
    update user_seller
    set 
      business_sign = #{0}
      where id = #{1}
  </update>
  <select id="selectBusinessSign" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_seller
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectSalesmanSubordinate" resultType="map">
    select 
    id,seller_name, seller_picture, notice
    from user_seller
    where parent_id = #{0}
    limit #{1},#{2}
  </select>
  <select id="selectSubordinateCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(id)
    from user_seller
    where parent_id = #{parentId,jdbcType=VARCHAR}
  </select>
  <select id="selectSalesmanAchievement" resultType="java.lang.Double">
    select
 	ifnull(sum(commodity_number*price),0)
	from to_order_details
	where order_id in (
		select id from to_order
		where is_deleted = '0'
		and state = '4'
		and seller_id in (select id from to_user where parent_id = #{parentId,jdbcType=VARCHAR})
	<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
	)
  </select>
  <select id="selectRegionAchievement" resultType="java.lang.Double">
    select
 	ifnull(sum(commodity_number*price),0)
	from to_order_details
	where order_id in (
		select id from to_order
		where is_deleted = '0'
		and state = '4'
		and seller_id in (select id from to_user 
		where parent_id in (select id from to_user where parent_id = #{parentId,jdbcType=VARCHAR}))
	<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
	)
  </select>
  <update id="updateMoney" >
    update user_seller
    set 
      money = #{0}
      where id = #{1}
  </update>
  <select id="selectSellerCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(id)
    from user_seller
  </select>
  <select id="selectSubordinateSellerCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(id)
    from user_seller
    where parent_id in (select id from to_user where parent_id = #{parentId,jdbcType=VARCHAR})
  </select>
  <select id="selectManageAchievement" resultType="java.lang.Double">
    select
 	ifnull(sum(commodity_number*price),0)
	from to_order_details
	where order_id in (
		select id from to_order
		where is_deleted = '0'
		and state = '4'
		and seller_id in (select id from to_user 
		where parent_id in (select id from to_user 
		where parent_id in (select id from to_user where parent_id = #{parentId,jdbcType=VARCHAR})))
	<if test="startDate != null and startDate != ''">
    		and gmt_create &gt;= #{startDate,jdbcType=VARCHAR}
    		</if>
    		<if test="endDate != null and endDate != ''">
    		and gmt_create &lt;= #{endDate,jdbcType=VARCHAR}" 23:59:59"
    		</if>
	)
  </select>
</mapper>