/*部分重置*/
body {
	word-wrap: break-word;
	font-family: Helvetica, Arial;
	/*这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑）*/
	color: #333;
	-webkit-text-size-adjust: none;
	/*设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的*/
	margin: 0;
}
html{
	-webkit-text-size-adjust:none;
	font-size: 62.5%;
}
ul,li,p{
	padding: 0;
	margin: 0;
	list-style-type:none;
}
a:focus, a:active, a:focus-within, a:visited, a:hover{
	text-decoration: none!important;
}
body *{
	-webkit-tap-highlight-color: transparent;
	/*在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了*/
}
body{
	height: 100%;
	background-color: #F4F4F4;
}

.dis_flex{
	display: flex;
	flex-shrink:0;
}
header{
	height: 50px;
}
/*标题*/
div.title_header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
}
div.title_header>div{
	width: 33%;
	text-align: center;
	height: 100%;
}
div.title_header>div>span{
	line-height: 50px;
	font-size: 16px;
}
/*左边*/
div.title_header>div:first-child{
	text-align: left;
	align-items: center;
	margin-left: 0.5%;
}
div.title_header>div:first-child>img{
	width: 30px;
	height: 30px;
	margin-left: 7px;
}
/*右边*/
div.title_header>div:last-child{
	text-align: right;
	margin-right: 0.5%;
}
div.title_header>div:last-child>img{
	margin-right: 5px;
	width: 24px;
	height: 24px;
}
div.title_header>div:last-child>span{
	margin-right: 7px;
	width: 24px;
	height: 24px;
	color: #999999;
}
input{
	outline: 0;
	border: 0;
	background-color: transparent;
}
input::-webkit-input-placeholder {
	color:#999;
}
.body{
	padding: 0 10px;
}
.body>p{
	height: 50px;
	line-height: 50px;
	color: #999999;
}
.body>p:nth-child(3){
	text-align: right;
}
.body>div{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.body>div>div{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #CACACA;
	height: 60px;
}
.body>div>div:first-child{
	border-top: 0;
}
.body>div>div:last-child{
	width: 100%;
	height: 40px;
	background: linear-gradient(to right, #FF9254 , #FF5B2B);
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	margin-top: 35px;
	border-top: 0;
}
.body>div>div>img{
	width: 18px;
}
.body>div>div>input{
	padding-left: 15px;
	width: 100%;
	height: 40px;
}
.phone_div{
	position: relative;
}
.phone_div>button{
	position: absolute;
	right: 0;
	top: 10px;
	height: 40px;
	width: 120px;
	text-align: center;
	line-height: 40px;
	background: linear-gradient(to right, #FF9254 , #FF5B2B);
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	border: 0;
	outline: 0;
}