/*部分重置*/
body {
    word-wrap: break-word;
    font-family: Helvetica, Arial;
    /*这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑）*/
    color: #333;
    -webkit-text-size-adjust: none;
    /*设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的*/
    margin: 0;
}
html{
    -webkit-text-size-adjust:none;
    font-size: 62.5%;
}
ul,li,p{
    padding: 0;
    margin: 0;
    list-style-type:none;
}
a:focus, a:active, a:focus-within, a:visited, a:hover{
    text-decoration: none!important;
}
body *{
    -webkit-tap-highlight-color: transparent;
    /*在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了*/
}
body{
    height: 100%;
    background-color: #F4F4F4;
}

.dis_flex{
    display: flex;
    flex-shrink:0;
}
header{
    height: 279px;
}
header>div:first-child{
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background: linear-gradient(to bottom, #FF9254 , #FF5B2B);
}
header>div:last-child{
    position: fixed;
    top: 239px;
    left: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #fff;
    font-size: 18px;
    padding: 0 10px;
}
/*标题*/
div.title_header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 1000;
    color: #fff;
}
div.title_header>div{
    width: 33%;
    text-align: center;
    height: 100%;
}
div.title_header>div>span{
    line-height: 50px;
    font-size: 18px;
}
/*左边*/
div.title_header>div:first-child{
    text-align: left;
    align-items: center;
    margin-left: 0.5%;
}
div.title_header>div:first-child>img{
    width: 20px;
    margin-left: 7px;
}
/*右边*/
div.title_header>div:last-child{
    text-align: right;
    margin-right: 0.5%;
}
div.title_header>div:last-child>img{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
div.title_header>div:last-child>span{
    margin-right: 7px;
    width: 24px;
    height: 24px;
    color: #999999;
}
header>div>div:last-child{
    position: fixed;
    top: 70px;
    left: 0;
    height: 80px;
    color: #fff;
    width: 100%;
}
header>div>div:last-child>div{
    width: 50%;
    height: 100%;
    font-size: 14px;
}
header>div>div:last-child>div:first-child>span{
    margin-left: 10px;
}
header>div>div:last-child>div:first-child>span:first-child{
    font-size: 18px;
}
header>div>div:last-child>div:last-child>span{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
}
header>div>div:last-child>div:first-child{
    flex-direction: column;
    justify-content: center;
}
header>div>div:last-child>div:last-child{
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.col_hui{
    color: #999999;
}
.col_cheng{
    color: #FF5B2B;
}
.fon_32{
    font-size: 32px;
    margin-bottom: 5px;
}
.fon_18{
    font-size: 18px;
}
.body>div:last-child{
    padding: 0 10px;
}
.Salesman{
    display: flex;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    height: 100px;
}
.Salesman:last-child{
    margin-bottom: 10px;
}
.Salesman>div{
    width: 30%;
    font-size: 14px;
}
.Salesman>div:first-child{
    align-items: center;
    width: 70%;
}
.Salesman>div:first-child>img{
    width: 80px;
    height: 70px;
    margin:  0 10px;
}
.Salesman>div:first-child>div{
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
}
.Salesman>div:first-child>div>div{
    flex-direction: column;
}
.Salesman>div:last-child{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data_cx{
    border-top: 3px solid #F4F4F4;
    border-bottom: 3px solid #F4F4F4;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 18px;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.data_cx:nth-child(3){
    border-top: 0;
    position: fixed;
    top: 196px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.data_cx>span:first-child{
    margin-left: 10px;
}
.data_cx>div{
    margin-right: 10px;
    position: static!important;
    color: #999999!important;
    height: auto!important;
    width: auto!important;
}
.data_cx>input:first-child{
    margin-left: 10px;
}
.data_cx>button{
    margin-right: 10px;
}