/*部分重置*/
body {
    word-wrap: break-word;
    font-family: Helvetica, Arial;
    /*这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑）*/
    color: #333;
    -webkit-text-size-adjust: none;
    /*设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的*/
    margin: 0;
}
html{
    -webkit-text-size-adjust:none;
    font-size: 62.5%;
}
ul,li,p{
    padding: 0;
    margin: 0;
    list-style-type:none;
}
a:focus, a:active, a:focus-within, a:visited, a:hover{
    text-decoration: none!important;
}
body *{
    -webkit-tap-highlight-color: transparent;
    /*在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了*/
}
body{
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
header>img{
    width: 25px;
}
.login>a{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F27A5F;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.login>a>span{
    margin-top: 20px;
}