/*部分重置*/
body {
    word-wrap: break-word;
    font-family: Helvetica, Arial;
    /*这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑）*/
    color: #333;
    -webkit-text-size-adjust: none;
    /*设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的*/
}

html {
    -webkit-text-size-adjust: none;
    font-size: 62.5%;
}

ul, li, p {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a:focus, a:active, a:focus-within, a:visited, a:hover {
    text-decoration: none !important;
}

body * {
    -webkit-tap-highlight-color: transparent;
    /*在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了*/
    -webkit-user-select: none;
    /*设置元素内的文字及其子元素将不会被选中*/
}

body {
    height: 100%;
}

/*共有*/
.dis_flex {
    display: flex;
    flex-shrink: 0;
}

.dis_inli {
    display: inline-block;
}

.dis_none {
    display: none;
}

.dis_block {
    display: block;
}

.col_hui {
    color: #999999;
}

.thead {
    width: 100%;
    height: 25px;
    padding: 10px 0;
    background-color: #353535;
    z-index: 1000;
}

.thead > a {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: #fefefe;
}

.thead > a > img {
    vertical-align: bottom;
    width: 25px;
    height: 25px;
    margin-right: 135px;
}

.swiper-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.swiper-container-div {
    list-style: none;
    overflow-y: scroll!important;
    background-color: #f7f7f7;
    width: 110px;
}

.swiper-container-ul {
    list-style: none;
    background-color: #f7f7f7;
    width: 100%;
    top: 100px;
    left: 0;
    height:1000px;
    overflow-y:scroll;
}

.swiper-container-ul-li {
    width: 100%;
    line-height: 35px;
    text-align: left;
    display: inline-block;
}

.swiper-container-ul-li > a {
    display: inline-block;
    color: #999999;
    width: 100%;
    padding-left: 15px;
}

.content {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    width: 80%;
}

.swiper-slide {
    width: 100%;
    display: inline-block;

}

.content {
    width: 100%;
    overflow: hidden;
}

.left {
    top: 41px;
    float: left;
    width: 25%;
    height: 100%;
    background: #eee;
}

.left ul {
    list-style: none;
}

.left ul li {
    padding: 15px 5px;
    text-align: center;
}

.active {
    background: #fff;
}

.active > a {
    color: #333333;
}

.right {
    float: left;
    width: 100%;
    height: 100%;
}

.right ul {
    list-style: none;
    overflow-y: scroll;
}

.class-title {
    padding: 7px 10px;
    background: #eee;
}

.item {
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.item-left {
    float: left;
}

.item-right {
    width: 70%;
    height: 80px;
    float: left;
    padding-left: 5px;
    flex-direction: column;
}

/*iphone6 plus*/
@media (min-width: 376px) and (max-width: 415px) {
    .item-right {
        width: 73%;
    }
}

/*iphone6*/
@media (min-width: 376px) and (max-width: 400px) {
    .item-right {
        width: 70%;
    }
}

/*iphone5*/
@media (min-width: 321px) and (max-width: 375px) {
    .item-right {
        width: 63%;
    }
}

.item-right_on {
    width: 100%;
    float: left;
    padding-left: 10px;
}

/*商品图片*/
.item-img {
    width: 80px;
    height: 80px;
}

.title {
    color: #333333;
    font-size: 16px;
    width: 155px;
    font-weight: bolder;
}

.subtitle {
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999999;
    width: 190px;
    padding-bottom: 20px;
}

.price {
    color: #FF3636;
    font-size: 15px;
}

.price > span {
    color: #999999;
    font-size: 12px;
}

/**/
.number {
    justify-content: space-between;
    width: 100%;
}

/*加减*/
.plan {
    justify-content: flex-end;
    width: 70px;
    align-items: center;
}

.plan > a {
    width: 20px;
    height: 20px;
    padding-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.plan > a.add_left {
    background-image: url("../img/oval_copy.png");
}

.plan > a.add_right {
    background-image: url("../img/oval_copy2.png");
}

.plan > span {
    font-size: 12px;
    color: #999999;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.order {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    background: #ffffff;
    display: none;
}

.order > p {
    height: 25px;
    border-left: 3px solid #7a7770;
}

.order > p, .order > div {
    border-bottom: 1px solid #74747480;
}

.order > p > span {
    line-height: 25px;
}

.order > p > span:nth-child(1) {
    margin-left: 15px;
}

.order > p > img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    float: right;
}

.order > p > .empty {
    color: #35aee2;
    float: right;
}

.order {
    margin-right: 10%;
    float: right;
}

.order {
    margin-left: 35px;
}

/*店家头部*/
.shop {
    height: 125px;
    width: 100%;
}

.shop > div:last-child {
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 40px;
    z-index: 100;
    height: 85px;
    width: 100%;
    background-color: #333333;
}

/*商家图片*/
.shop > div:last-child > img {
    border-radius: 5px;
    vertical-align: top;
    height: 70px;
    width: 70px;
}

/*商家公告*/
.shop > div:last-child > div:last-child {
    height: 70px;
    width: 72%;
    margin-left: 10px;
    flex-direction: column;
}

.shop > div:last-child > div > div > span {
    display: inline-block;
    color: #fff;
    line-height: 20px;
    -webkit-line-clamp: 2;
    width: 35px;
    vertical-align: top;
    font-size: 13px;
}
.shop > div:last-child > div > div > a {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    line-height: 18px;
}
.shop > div:last-child > div > div:nth-child(1) > span {
    max-height: 58px;
    overflow: hidden;
}
.shop > div:last-child > div > div > span:last-child {
    width: 80%;
    line-height: 20px;
}

.time {
    height: 20px;
    width: 100%;
}

.time > p {
    position: fixed;
    text-align: center;
    top: 123px;
    left: 0;
    background-color: #333333;
    width: 100%;
    color: #fff;
    z-index: 100;
}

.swiper-container > div:last-child > div:first-child {
    position: relative;
    height: 100%;
    width: 85px;
}

.swiper-container > div:last-child > div:first-child > div {
    position: fixed;
    left: 0;
    top: 145px;
    height: 100%;
    width: 85px;
}

/*标题*/
div.title_header {
    height: 40px;
    width: 100%;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

div.title_header > div {
    width: 20%;
    text-align: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.title_header > div:nth-child(2) {
    width: 60%;
}
div.title_header > div > span {
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
}

/*左边*/
div.title_header > div:first-child {
    text-align: left;
    padding-left: 5px;
    line-height: 40px;
}

div.title_header > div:first-child > img {
    width: 15px;
    height: 19px;
    margin-left: 7px;
}

/*右边*/
div.title_header > div:last-child {
    text-align: right;
    margin-right: 1%;
}

div.title_header > div:last-child > img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.title_pic {
    width: 70px;
    height: 70px;
}

.dynamic_pic > div {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}

/*点击放大的背景*/
#outerdiv {
    text-align: center;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 158, 158, .5);
}

/*点击放大的图片*/
#bigimg {
    width: 100%;
    height: 200px;
}

#outerdiv > div {
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

#outerdiv > div > div {
    padding: 0 10px;
}

#outerdiv > div > div:last-child {
    background-color: #F4F4F4;
    line-height: 40px;
    height: 40px;
}

#outerdiv > img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

/*底部购物车*/
footer {
    height: 60px;
    width: 100%;
}

footer > div:first-child {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
    z-index: 1001;
}

footer > div:first-child > a {
    color: #ffffff;
}

footer > div:first-child > a:first-child {
    width: 70%;
    padding-left: 15px;
    background-color: #333333;
}

footer > div:first-child > a:last-child {
    width: 30%;
    text-align: center;
    background-color: #FF5B2B;
}

footer a:focus, footer a:active, footer a:focus-within, footer a:visited, footer a:hover {
    color: #ffffff;
}

/*清空购物车*/
.gwcTog {
    text-align: center;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 158, 158, .5);
}

.gwcTog > div {
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 60px;
    width: 100%;
}

.gwcTog > div > div:first-child {
    justify-content: flex-end;
    background-color: #F4F4F4;
    align-items: center;
    height: 30px;
}

.gwcTog > div > div:first-child > img {
    width: 17.5px;
    height: 17.5px;
}

.gwcTog > div > div:first-child > span {
    margin: 0 10px 0 5px;
}

/*购物车商品*/
.gwcTog > div > div:last-child {
    flex-direction: column;
    background-color: #ffffff;
    max-height: 250px;
    overflow-y: scroll !important;
}

/*购物车单个商品*/
.gwcTog > div > div:last-child > div {
    /*height: 50px;*/
    align-items: center;
    border-top: 1px solid #F4F4F4;
}

.gwcTog > div > div:last-child > div > div {
    height: 100%;
}

.gwcTog > div > div:last-child > div > div:first-child {
    flex-direction: column;
    padding-left: 15px;
    align-items: flex-start;
    justify-content: center;
    width: 55%;
}

.gwcTog > div > div:last-child > div > div:first-child > div {
    text-align: left;
}

.gwcTog > div > div:last-child > div > div:last-child {
    width: 45%;
    align-items: center;
    line-height: 50px;
    padding-right: 15px;

}

.gwcTog > div > div:last-child > div .number {
    height: 100%;
    margin: 0;
}

.gwcTog > div > div:last-child > div .number .price {
    color: #333333;
    margin-right: 5px;
}