/*部分重置*/
body {
    word-wrap: break-word;
    font-family: Helvetica, Arial;
    /*这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑）*/
    color: #333;
    -webkit-text-size-adjust: none;
    /*设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的*/
    margin: 0;
}
html{
    -webkit-text-size-adjust:none;
    font-size: 62.5%;
}
ul,li,p{
    padding: 0;
    margin: 0;
    list-style-type:none;
}
a:focus, a:active, a:focus-within, a:visited, a:hover{
    text-decoration: none!important;
}
body *{
    -webkit-tap-highlight-color: transparent;
    /*在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了*/
}
body{
    height: 100%;
}

.dis_flex{
    display: flex;
    flex-shrink:0;
}
.col_cheng{
    color: #ff5b2b;
    text-decoration: underline;
    margin-right: 14px;
}
header{
    height: 53px;
}
/*标题*/
div.title_header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 3px solid #F4F4F4;
}
div.title_header>div{
    width: 33%;
    text-align: center;
    height: 100%;
}
div.title_header>div>span{
    line-height: 50px;
    font-size: 16px;
}
/*左边*/
div.title_header>div:first-child{
    text-align: left;
    align-items: center;
    margin-left: 0.5%;
}
div.title_header>div:first-child>img{
    width: 30px;
    height: 30px;
    margin-left: 7px;
}
/*右边*/
div.title_header>div:last-child{
    text-align: right;
    margin-right: 0.5%;
}
div.title_header>div:last-child>img{
    margin-right: 5px;
    width: 24px;
    height: 24px;

}
.col_hui{
    color: #999999;
}
.col_cheng{
    color: #ff5b2b;
    text-decoration: underline;
    margin-right: 14px;
}
div.div_li{
    border-bottom: 1px solid #F4F4F4;
    font-size: 15px;
    padding: 0 10px;
}
div.div_li:first-child{
    display: flex;
    align-items: center;
    height: 120px;
    font-size: 14px;
}
div.div_li:first-child>img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.div_li:first-child>div{
    flex-direction: column;
    width: 80%;
    font-size: 15px;
}
.div_li:first-child>div>span{
    margin-bottom: 5px;
}
div.div_li.dis_flex{
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
div.div_li input{
    color: #999999;
    font-size: 15px;
}
div.div_li.dis_flex input{
    text-align: right;
}
div.div_li input.borout_no{
    outline: 0;
    border: 0;
}
footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer>div{
    width: 80%;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #999;
}
footer>div.first_div{
    background: linear-gradient(to right, #FF9254 , #FF5B2B);
    color: #fff;
    border: 0;
    margin-bottom: 25px;
}
.pic_address{
    align-items: center;
}
.pic_address>img{
    height: 15px;
    margin-left: 5px;

}