footer>div:first-child>a:last-child{
    width:100%;
}
.swiper-container>div:last-child>div:first-child>div{
    top: 0;
}
footer>div:first-child>a:first-child{
    padding-left: 0;
    font-size: 16px;
}
.swiper-container-ul{
    padding-bottom: 60px;
}