<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商品</title>
    <link rel="stylesheet" type="text/css" href="css/commodity.css">
    <link rel="stylesheet" type="text/css" href="../css/mescroll.min.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../js/layer.js"></script>
    <script type="text/javascript" src="../js/utils.js"></script>
</head>
<body>
<header>
    <div class="thead">
        <a href="#"><img src="img/return_1.png">商品管理</a>
    </div>
</header>
<article id="menu" class="mescroll">
    <div class="frame">
        <ul>
            <li v-for="(commodity,index) in commodities">
                <div class="item">
                    <div class="item-left">
                        <div class="item-img"><img :src="imgPath+commodity.introducePicture"></div>
                    </div>
                    <div class="item-right">
                        <div class="title">{{commodity.name}}</div>
                        <div class="category"><a href="javascript:"
                                                 @click="gotoEditCommodityView(commodity.id)">修改</a><a
                                href="#" @click="deleteCommodity(index,commodity.id)">删除</a></div>
                        <div class="number"><span class="price">￥{{commodity.price}}</span>
                            <a href="javascript:"
                               @click="commodityVisible(index)"><span
                                    v-if="commodity.visible">下架</span><span v-else>上架</span></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>
<footer>
    <div class="tfoot">
        <a href="addCommodity.html" class="shopping"><span>添加商品</span></a>
        <a href="orderList.html" class="settlement"><span>订单管理</span></a>
    </div>
</footer>
<script src="../js/mescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
<script>
    let pageIndex = 1;
    // 页数
    let totalPage = 0;
    const pageCount = 20;
    let vm = new Vue({
        el: '#menu',
        data: {
            imgPath: '/yapingzh/picture/',
            commodities: []
        }, mounted: function () {
            let that = this;
            that.mescroll = new MeScroll("menu", { //请至少在vue的mounted生命周期初始化mescroll,以确保您配置的id能够被找到
                up: {
                    callback: that.upCallback, //上拉回调
                    auto: false,
                    offset: 10
                }, down: {
                    callback: that.downCallback,
                    auto: false
                }
            });
        }, methods: {
            downCallback() {
                let that = this;
                emptyData();
                loadData(function () {
                    that.mescroll.endByPage(pageCount, totalPage);
                }, function () {
                    that.mescroll.endErr();
                });
            },
            upCallback() {
                let that = this;
                if (totalPage > pageIndex) {
                    pageIndex++;
                    loadData(function () {
                        that.mescroll.endByPage(pageCount, totalPage);
                    }, function () {
                        that.mescroll.endErr();
                    });
                } else {
                    that.mescroll.endErr();
                }
            },
            gotoEditCommodityView(commodityId) {
                location.href = 'editCommodity.html?commodityId=' + commodityId;
            }, commodityVisible(key) {
                let commodity = vm.commodities[key];
                layer.open({
                    content: "执行这个操作？"
                    , btn: ['是的', '取消']
                    , yes: function (index) {
                        $.getJSON('/yapingzh/commodityVisible.do', {
                            "commodity.id": commodity.id,
                            "commodity.visible": !commodity.visible
                        }, function (result) {
                            if (result.success) {
                                vm.commodities[key].visible = !commodity.visible;
                                toast('操作成功');
                            } else {
                                toast('操作失败');
                            }
                        });
                        layer.close(index);
                    }
                });
            }, deleteCommodity(key, commodityId) {
                layer.open({
                    content: "要删除吗？"
                    , btn: ['是的', '取消']
                    , yes: function (index) {
                        $.getJSON('/yapingzh/deleteCommodity.do', {
                            "commodity.id": commodityId
                        }, function (result) {
                            if (result.success) {
                                let oldData = vm.commodities;
                                oldData.splice(key, 1);
                                vm.commodities = oldData;
                                toast('操作成功');
                            } else {
                                toast('操作失败');
                            }
                        });
                        layer.close(index);
                    }
                });
            }
        }
    });
    $(function () {
        loadData();
    });
    function loadData(cbOK, cbErr) {
        $.ajax({
            type: 'GET',
            url: '/yapingzh/getCommodityArray.do',
            data: {
                "pageIndex": pageIndex,
                "pageCount": pageCount
            },
            dataType: 'json',
            success: function (result) {
                totalPage = result.totalPage;
                vm.commodities = vm.commodities.concat(result.commodityArray);
                cbOK && cbOK();
            }, error: function () {
                cbErr && cbErr();
            }
        });
    }
    function emptyData() {
        let ary = vm.commodities;
        ary.splice(0, ary.length);
        vm.commodities = ary;
        totalPage = 0;
        pageIndex = 1;
    }
</script>
</html>