<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/utils.js"></script>
</head>
<body>
<form action="#" method="post">
    <div id="vueData" class="login">
        <img src="img/icon_16.png">
        <p>
            <img src="img/icon_15.png">
            <label for="name">账号：</label>
            <span>
					<input id="name" name="sellers.sellersName" placeholder="请输入登录名" v-model="userName"/>
				</span>
        </p>
        <p>
            <img src="img/icon_12.png">
            <label for="pwd">密码：</label>
            <span>
					<input type="password" id="pwd" name="sellers.loginPassword" placeholder="请输入登录密码"
                           v-model="password"/>
				</span>
        </p>
        <img src="img/icon_13.png">
        <img id="loginImg" src="img/icon_14.png" @click="sellersLogin"/>
    </div>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#vueData',
        data: {
                userName: '',
                password: ''
        }, methods: {
            sellersLogin() {
                if ($.trim(vm.userName) === '' || $.trim(vm.password) === '') {
                    toast('登录名或密码不能为空!');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/shanduonewretail/juser/loginuser",
                    dataType: "json",
                    data: {
                        "phone": vm.userName,
                        "password": vm.password
                    },
                    success: function (res) {
                        if (res.success) {
                        	localStorage.setItem('localStore',JSON.stringify(res.result));
                        	toast('登录成功!');
                            setTimeout(function () {
                                    location.href = 'Administration.html';
                            }, 1000)
                        } else {
                            toast('登录失败');
                        }
                    }
                });
            }
        }
    });
    $(function () {
        let localStore = localStorage.getItem('localStore');
        if (localStore) {
                location.href = 'Administration.html';
        }
    });
</script>
</html>