<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止自动识别电话号码和邮箱-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--苹果手机：会删除默认的工具栏和菜单栏，网站开启对web app程序的支持-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!--苹果手机：在web app应用下状态条（屏幕顶部条）的颜色,默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）。-->
    <meta name="apple-touch-fullscreen" content="yes"/>
    <!--苹果手机：如果把一个web app添加到了主屏幕中，那么从主屏幕中打开这个web app则全屏显示-->
    <link rel="stylesheet" type="text/css" href="css/Salesman.css">
    <title></title>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/utils.js"></script>
</head>
<body>
    <div id="vueData">
        <header>
            <div class="title_header dis_flex">
                <div class="dis_flex" @click="goBack">
                    <img src="img/return_2.png">
                </div>
                <div>
                    <span>业务员管理</span>
                </div>
                <div></div>
            </div>
        </header>
        <div class="body">
            <div class="dis_flex div_li">
                <img src="img/ewm.png">
                <div class="dis_flex">
                    <span>{{salesMan.name}}</span>
                    <span class="col_hui ">电话：{{salesMan.mobilePhone}}</span>
                </div>
            </div>
            <div class="dis_flex">
                <span>我的业绩：</span>
                <div class="col_hui">
                    <span>店铺数：</span>
                    <span>{{salesManChildStore.length}}</span>
                </div>
            </div>
            <div>
                <div v-if="salesManChildStore.length==0" class="dis_flex div_li div_complex">
                    <span>你还没有店铺</span>
                </div>
                <div v-else class="dis_flex div_li div_complex" v-for="store in salesManChildStore">
                    <img :src="store.sellerPicture?imagePath+store.sellerPicture:'img/rectangle_3.png'">
                    <div class="dis_flex">
                        <span>{{store.sellerName}}</span>
                        <span class="col_hui ">公告：{{store.notice}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    let localStore = JSON.parse(localStorage.localStore);
    let vm = new Vue({
        el: '#vueData',
        data: {
            //获取屏幕分辨率高度
            imagePath:imagePath,
            Width: null,
            salesMan:{},
            salesManChildStore:[]
        },
        mounted: function () {
            //获取屏幕分辨率高度
            let that = this;
            that.Width = window.screen.width - 82;
        },methods:{
            goBack(){
                history.back();
            }
        }
    });
    $(function () {
        loadSalesManDetial();
        querySalesManHaveStore();
    });
    function loadSalesManDetial() {
        $.get('/shanduonewretail/juser/selectuser',{token:localStore.token},function (res) {
            if(res.success){
                vm.salesMan=res.result;
            }
        });
    }
    function querySalesManHaveStore() {
        $.get('/shanduonewretail/jseller/selectsalesmansubordinate',{token:localStore.token},function (res) {
            console.log(res);
            if(res.success){
                vm.salesManChildStore=salesManChildStore.concat(res.result);
            }
        });
    }
</script>
</html>